<h2>Usability Survey</h2>

Thanks for trying out Chartup! I'd love to get your answers to a few questions to help make Chartup more useful for you. Don't worry; it's multiple choice!

<%= form_for @survey, html: {class: 'form-horizontal'} do |f| %>
	<% @survey.errors.full_messages.each do |msg| %>
		<p class='alert alert-danger'><%= msg %></p>
	<% end %>
	<ol>

	<li><h3>Is Chartup useful to you right now, the way it currently works?</h3>
	<div class="input-group btn-group" data-toggle="buttons">
	    <%= f.label:useful_now, class: 'btn btn-default form-control', value: 'true' do %>
	    	<%= "#{f.radio_button(:useful_now, true)} Useful".html_safe %>
	 	<% end %>
	    <%= f.label :useful_now, class: 'btn btn-default form-control', value: 'false' do %>
	    	<%= "#{f.radio_button(:useful_now, false)} Not So Useful".html_safe %>
    	<% end %>
	</div>
	</li>

	<li><h3>Could you see it being useful eventually if more features were added?</h3> 
	<div class="input-group btn-group" data-toggle="buttons">
	    <%= f.label :useful_eventually, class: 'btn btn-default form-control', value: 'true' do %>
	    	<%= "#{f.radio_button(:useful_now, true)} Useful Eventually".html_safe %>
	 	<% end %>
	    <%= f.label :useful_now, class: 'btn btn-default form-control', value: 'false' do %>
	    	<%= "#{f.radio_button(:useful_now, false)} Nope, Just Not My Thing".html_safe %>
    	<% end %>
	</div>
	</li>

	<li><h3>What extra features would you need to make it useful?</h3>

		<% @features.each do |feature| %>
		<% checked = !!@requests.find_by_id(feature.id) %>

			<div class="input-group btn-group" data-toggle="buttons">

			<%= f.label "usability_survey_feature_#{feature.id}", 
			class: "btn btn-default form-control #{'active' if checked}", value: checked do %>
				<%= check_box_tag "usability_survey_feature_#{feature.id}", checked, checked %><%= feature.name %>
			<% end %>
		</div>
		<% end %>
	</li>
	</ol>

	<%= f.submit 'Submit', class: 'btn' %>
<% end %>
