<div class='container'>
	<div class='row well'>
		<div class="col-md-6">
			<%= form_for(@chart, html: {class: 'chart_form'}) do |f| %>
				<div id='form-errors'>
				    <% @chart.errors.full_messages.each do |msg| %>
				      <p class="alert alert-danger"><%= msg %></p>  
				    <% end %>
				    <% if flash[:chart_alert] %>
						<p class="alert alert-danger"><%= flash[:chart_alert] %></p>
					<% end %>
				</div>
				<div class='form-group'>
					<%= f.label :title %>
					<%= f.text_field :title, class: 'form-control', placeholder: 'Untitled' %>
				</div>
				<div class='form-group'>
					<%= f.label :chartup, 'Chart' %>
					<%= f.text_area :chartup, size: '60x20', class: 'form-control', value: @chart.chartup_without_title %>
				</div>
				<%= f.hidden_field :png_path %>
				<div class='form-group submit-button-container' >
					<%= f.submit 'Preview', class: 'btn', id: 'preview-button', data: { "loading-text" => 'Loading...' } %>
					<%= f.submit 'Save', class: 'btn', id: 'save-button' %>
					<%= f.submit 'Download PDF', class: 'btn', id: 'pdf-button' %>
				</div>
			<% end %>
		</div>
		<div class="col-md-6 preview-image-container">
			<img class='preview-image' id='main-preview-image'>
		</div>
	</div>
</div>
